$backgroundMain: #E9E9E2;
$backgroundContainer: #B7BAA6;
$colorLight: #ffffff;
$colorMain: #21221C;
$colorError: #f14668;



$gutter: 1rem;

$fontSize: 1rem;
$fonts: 'Poppins-regular', 'sans-serif';
$fontAlt: 'Poppins-bold', 'sans-serif';
