$backgroundMain: #E9E9E2;
$backgroundContainer: #B7BAA6;
$colorLight: #ffffff;
$colorMain: #21221C;

$colorCubLight: #F7F7F3;
$colorCubGray: #DFE0D1;
$colorCubGreen: #ABAD85;
$colorCubAlt: #ABAD85;

$gutter: 1rem;

$fontSize: 1rem;
$fonts: 'Poppins', 'sans-serif';
