@use 'assets/styles/reset';

@font-face {
  font-family: 'Poppins-regular';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('/assets/fonts/Poppins-Regular.ttf') format("trueType");
}

@font-face {
  font-family: 'Poppins-bold';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url('/assets/fonts/Poppins-Bold.ttf') format("trueType");
}


body {
  background-color: $backgroundMain;
  font-family: $fonts;
  font-weight: 400;
  font-size: $fontSize ;
  color: $colorMain;
}




